@media (prefers-color-scheme: dark) {
    body {
        background-color: #000 !important;
        color: #fff !important;
    }
}

canvas {
    background-color: #fff;
}

img {
    transition: transform 0.1s ease, opacity 0.1s ease;
    box-shadow: 6px 5px 5px #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}