.card-img-top {
    transition: transform 0.1s ease, opacity 0.1s ease;
    box-shadow: 6px 5px 5px #ccc;
    cursor: pointer;
    margin: 10px;
}

.image-scale {
    transform: scale(1.05);
    opacity: 0.67;
}