@media (prefers-color-scheme: dark) {
    body {
        background-color: #212529 !important;
        color: #fff !important;
    }
}

canvas {
    background-color: #fff;
}

img {
    box-shadow: 6px 5px 5px #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.img-hover {
    opacity: .67;
    transform: scale(1.1);
    transition: opacity .3s ease, transform .3s ease;
}